*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display Semi";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Black.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display Semi";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Gilroy", sans-serif;
  background-image: url("/images/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0b1d26;
  color: white;
}

/* SECONDARY & WRAPPERS */
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
}

.container-wide {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.main-container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.some-subtitle {
  position: relative;
  display: flex;
  text-transform: uppercase;
  color: #fbd784;
  font-weight: 700;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 6px;
  margin-bottom: 32px;
}
.some-subtitle::before {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.some-button {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
}

.logo {
  font-family: "Chronicle Display", serif;
  font-size: 32px;
  line-height: 0.69;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: 700;
}

/* PRIMARY */
.header {
  padding-top: 64px;
  padding-bottom: 843px;
}
.header .nav-menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.header .nav-menu ul {
  display: flex;
}
.header .nav-menu li + li {
  margin-left: 40px;
}
.header .nav-menu a {
  transition: color 0.2s ease-in;
  position: relative;
  padding-bottom: 4px;
}
.header .nav-menu a:hover {
  color: #fbd784;
}
.header .nav-menu a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fbd784;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.header .nav-menu a:hover::after {
  bottom: 0px;
  opacity: 1;
}
.header .account {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  transition: color 0.2s ease-in;
  position: relative;
  padding-left: 30px;
}
.header .account:hover {
  color: #fbd784;
}
.header .account::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-image: url("../svg/header-icons-account.svg");
  background-size: contain;
}
.header .big-section {
  display: block;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.5s cubic-bezier(1, 0.2, 0.575, 1.65);
}
.header .big-section:hover {
  transform: translateY(-3.5%);
}
.header .big-section .section-subtitle {
  padding-left: 104px;
}
.header .big-section .caption {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 1.136;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.header .big-section .scroll-down {
  padding-right: 32px;
}
.header .big-section .scroll-down::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../svg/content-arrow-down.svg");
}

.main .article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.main .article:nth-child(even) {
  flex-direction: row-reverse;
}
.main .article .article-text {
  position: relative;
  max-width: 782px;
  padding-left: 150px;
}
.main .article .article-text .article-subtitle {
  padding-left: 96px;
}
.main .article .article-text .article-title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
}
.main .article .article-text p {
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
}
.main .article .article-text .article-button {
  color: #fbd784;
  padding-right: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main .article .article-text .article-button::after {
  content: "";
  display: block;
  position: absolute;
  height: 16px;
  width: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../svg/content-arrow-right.svg");
}
.main .article .article-text::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}
.main .article .article-image {
  display: block;
  transition: transform 0.3s cubic-bezier(1, 0.2, 0.575, 1.65);
}
.main .article .article-image:hover {
  transform: translateY(-1.5%);
}

.footer {
  padding-bottom: 120px;
}
.footer .footer-copyright {
  display: flex;
  flex-direction: column;
}
.footer .footer-copyright .copyright-logo {
  margin-bottom: 24px;
}
.footer .footer-copyright .copyright-logo .footer-logo {
  line-height: 1.18;
}
.footer .footer-copyright .copyright-description {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}
.footer .footer-copyright .copyright-terms {
  margin-top: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer-nav-wrapper {
  display: flex;
}
.footer .footer-nav-wrapper .footer-nav {
  max-width: 200px;
}
.footer .footer-nav-wrapper .footer-nav .nav-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #fbd784;
}
.footer .footer-nav-wrapper .footer-nav ul {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}
.footer .footer-nav-wrapper .footer-nav li {
  margin-bottom: 12px;
}
.footer .footer-nav-wrapper .footer-nav li:last-child {
  margin-bottom: 0;
}
.footer .footer-nav-wrapper .footer-nav a {
  position: relative;
  padding-bottom: 4px;
}
.footer .footer-nav-wrapper .footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.footer .footer-nav-wrapper .footer-nav a:hover::after {
  bottom: 0px;
  opacity: 1;
}
.footer .footer-nav-wrapper .footer-nav + .footer-nav {
  margin-left: 212px;
}

/*# sourceMappingURL=main.css.map */
