*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display Semi";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Black.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display Semi";
  src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"), url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Gilroy", sans-serif;
  background-image: url("/images/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0b1d26;
  color: white;
}

/* SECONDARY & WRAPPERS */
.no-scroll {
  overflow-y: hidden;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
}

.container-wide {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.main-container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.some-subtitle {
  position: relative;
  display: flex;
  text-transform: uppercase;
  color: #fbd784;
  font-weight: 700;
  line-height: 1.222;
  font-size: 18px;
  letter-spacing: 6px;
  margin-bottom: 32px;
}
.some-subtitle::before {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.some-button {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
}

.logo {
  font-family: "Chronicle Display", serif;
  font-size: 32px;
  line-height: 0.69;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: 500;
}

.footer-wrapper {
  display: flex;
}

/* PRIMARY */
/* HEADER */
.header {
  padding-top: 64px;
  padding-bottom: 843px;
}

.big-section {
  display: block;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.5s cubic-bezier(1, 0.2, 0.575, 1.65);
}
.big-section:hover {
  transform: translateY(-3.5%);
}
.big-section__section-subtitle {
  padding-left: 104px;
}
.big-section__caption {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.136;
  text-transform: capitalize;
  margin-bottom: 32px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5490196078);
}
.big-section__scroll-down {
  padding-right: 32px;
}
.big-section__scroll-down::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../svg/content-arrow-down.svg");
}

.nav-menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.nav-menu ul {
  display: flex;
}
.nav-menu li + li {
  margin-left: 40px;
}
.nav-menu a {
  transition: color 0.2s ease-in;
  position: relative;
  padding-bottom: 4px;
}
.nav-menu a:hover {
  color: #fbd784;
}
.nav-menu a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fbd784;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.nav-menu a:hover::after {
  bottom: 0px;
  opacity: 1;
}

.account {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  transition: color 0.2s ease-in;
  position: relative;
  padding-left: 30px;
}
.account:hover {
  color: #fbd784;
}
.account::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-image: url("../svg/header-icons-account.svg");
  background-size: contain;
}

.nav-mobile-button {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.nav-mobile-button__icon {
  display: block;
  background-color: #fff;
  width: 42px;
  height: 2px;
  position: relative;
  border-radius: 1px;
  transition: background-color 0.2s ease-in;
}
.nav-mobile-button__icon:hover {
  background-color: #fbd784;
}
.nav-mobile-button__icon::after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  width: 42px;
  height: 2px;
  bottom: -10px;
  border-radius: 1px;
  transition: background-color 0.3s ease-in;
}
.nav-mobile-button__icon:hover::after {
  background-color: #fbd784;
}
.nav-mobile-button__icon::before {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  width: 42px;
  height: 2px;
  left: 0;
  top: -10px;
  border-radius: 1px;
  transition: background-color 0.1s ease-in;
}
.nav-mobile-button__icon:hover::before {
  background-color: #fbd784;
}

.nav-mobile-button-close .nav-mobile-button__icon {
  background-color: transparent;
  transition: transform 0.2s;
}
.nav-mobile-button-close .nav-mobile-button__icon::after {
  transition: transform 0.2s;
  transform: rotate(-45deg);
  top: 0;
}
.nav-mobile-button-close .nav-mobile-button__icon::before {
  transition: transform 0.2s;
  transform: rotate(45deg);
  top: 0;
}

.mobile-nav {
  display: none;
  transition: display 0.2s;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(11, 29, 38, 0.862745098);
  padding: 60px 70px 50px 30px;
}
.mobile-nav .nav-menu {
  display: block;
}
.mobile-nav .nav-menu ul {
  flex-direction: column;
}
.mobile-nav .nav-menu ul li {
  margin: 0;
  margin-bottom: 25px;
}
.mobile-nav .account {
  display: block;
}

/* MAIN */
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  column-gap: 30px;
}
.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article-text {
  position: relative;
  max-width: 782px;
  padding-left: 150px;
  margin-right: 20px;
}
.article-text__article-subtitle {
  padding-left: 96px;
}
.article-text__article-title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
}
.article-text p {
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
}
.article-text__article-button {
  color: #fbd784;
  padding-right: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article-text__article-button::after {
  content: "";
  display: block;
  position: absolute;
  height: 16px;
  width: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../svg/content-arrow-right.svg");
}
.article-text::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}

.article-image {
  display: block;
  transition: transform 0.3s cubic-bezier(1, 0.2, 0.575, 1.65);
}
.article-image:hover {
  transform: translateY(-1.5%);
}

/* FOOTER */
.footer {
  padding-bottom: 120px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}
.footer-copyright__logo {
  margin-bottom: 24px;
}
.footer-copyright__logo .footer-logo {
  line-height: 1.18;
}
.footer-copyright__description {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}
.footer-copyright__terms {
  margin-top: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav {
  max-width: 200px;
}
.footer-nav__nav-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #fbd784;
}
.footer-nav ul {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}
.footer-nav li {
  margin-bottom: 12px;
}
.footer-nav li:last-child {
  margin-bottom: 0;
}
.footer-nav a {
  position: relative;
  padding-bottom: 4px;
}
.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.footer-nav a:hover::after {
  bottom: 0px;
  opacity: 1;
}

.footer-nav + .footer-nav {
  margin-left: 212px;
}

@media (max-width: 1200px) {
  .article-text {
    padding-left: 50px;
    max-width: 50%;
    margin-right: 0;
  }
  .article-text::before {
    width: 140px;
    height: 140px;
    font-size: 140px;
  }
  .article-image {
    width: 45%;
  }
}
@media (max-width: 1100px) {
  .footer-nav + .footer-nav {
    margin-left: 100px;
  }
}
@media (max-width: 1000px) {
  .header {
    padding-bottom: 640px;
  }
  .big-section__section-subtitle {
    font-size: 15px;
    line-height: 1.46;
  }
  .big-section__caption {
    font-size: 68px;
    line-height: 1.47;
  }
  .big-section__scroll-down {
    font-size: 15px;
    line-height: 1.46;
  }
  .nav-wrapper {
    margin-bottom: 370px;
  }
}
@media (max-width: 920px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer-row {
    flex-direction: column-reverse;
  }
  .footer-wrapper {
    margin-bottom: 65px;
  }
}
@media (max-width: 800px) {
  .header {
    padding-bottom: 215px;
  }
  .nav-menu {
    display: none;
  }
  .account {
    display: none;
  }
  .nav-mobile-button {
    display: block;
    animation: showBlock 0.3s linear forwards;
  }
  @keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .mobile-nav-active {
    display: flex;
    animation: showBlock 0.3s linear forwards;
  }
  @keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .big-section__section-subtitle {
    padding-left: 74px;
    margin-bottom: 0;
  }
  .big-section__caption {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5490196078);
  }
  .some-subtitle {
    font-size: 14px;
  }
  .some-subtitle::before {
    width: 42px;
  }
  .nav-wrapper {
    margin-bottom: 90px;
  }
  .article-text__article-title {
    font-size: 47px;
  }
  .article-text__article-subtitle {
    font-size: 14px;
  }
  .article-text p {
    font-size: 16px;
  }
  .article-text__article-button {
    font-size: 16px;
  }
  .footer-nav__nav-title {
    font-size: 22px;
  }
  .footer-nav ul li {
    font-size: 16px;
  }
  .footer-copyright__description,
  .footer-copyright__terms {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .article {
    flex-direction: column-reverse !important;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .article-text {
    max-width: 100%;
    padding-left: 18px;
  }
  .article-image {
    max-width: 320px;
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 560px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-nav + .footer-nav {
    margin-left: 0;
    margin-top: 60px;
  }
}
@media (max-width: 350px) {
  .container-wide {
    padding: 0 7px;
  }
}

/*# sourceMappingURL=main.css.map */
