// Gilroy-Extrabold
@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"),
      url("/fonts/gilroy/Gilroy-Extrabold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

// Gilroy-Bold
@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

// Gilroy-Medium
@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("/fonts/gilroy/Gilroy-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

// ChronicleDisplay-Semi
@font-face {
   font-family: "Chronicle Display Semi";
   src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

// ChronicleDisplay-Black
@font-face {
   font-family: "Chronicle Display";
   src: url("/fonts/cronicle-display/ChronicleDisplay-Black.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-Black.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

// ChronicleDisplay-LightItalic
@font-face {
   font-family: "Chronicle Display";
   src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

// ChronicleDisplay-Roman
@font-face {
   font-family: "Chronicle Display";
   src: url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-Roman.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

// ChronicleDisplay-Semi
@font-face {
   font-family: "Chronicle Display Semi";
   src: url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-Semi.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

// ChronicleDisplay-LightItalic
@font-face {
   font-family: "Chronicle Display";
   src: url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff2") format("woff2"),
      url("/fonts/cronicle-display/ChronicleDisplay-LightItalic.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}
